.container-fluid{
  padding: 0;
}

.red {
  background-color: red;
  height: 700px;
}
.blue {
  background-color: blue;
  height: 600px;
}
.black {
  background-color: black;
  height: 100px;
}
.green {
  background-color: green;
  height: 100px;
}
.yellow {
  background-color: yellow;
  height: 50px;
}
